body {
      overflow-y: hidden;
}

.grid {
      display: flex;
      flex-wrap: wrap;
      width: calc(1.2 * 560px);
      height: calc(1.2 * 560px);
      border: 1px solid black;
      margin: auto;
      margin-top: 1rem;

}

.grid div {
      width: 24px;
      height: 24px;
}

h3 {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
}

.pac-dot {

      border: 8px solid white;
      background-color: black;
      box-sizing: border-box;
      border-radius: 50%;
}

.wall {
      --dot-bg: grey;
      --dot-color: white;
      --dot-size: 1px;
      --dot-space: 4px;
      background:
            linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
            linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
            var(--dot-color);
}

.power-pellet {
      background-color: green;
      border-radius: 10px;
}

.pac-man {
      background-image: url("./assets/images/carlo.png");
      background-size: 85%;
      background-repeat: no-repeat;
      transition: transform 0.2s ease-in-out;
      background-position: center;
}

.ghosts {
      border-radius: 10px;
}

.nexty {
      background-image: url("https://www.svgrepo.com/show/354113/nextjs-icon.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 80%;
      border: 0px;
}

.tailwindy {
      background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Tailwind_CSS_Logo.svg/2560px-Tailwind_CSS_Logo.svg.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 80%;
      border: 0px;
}

.lazily {
      background-image: url("https://thenounproject.com/api/private/icons/5997105/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23FFFFFF&backgroundShapeOpacity=1&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 0px;
}

.confusyus {
      background-image: url("https://thenounproject.com/api/private/icons/2249969/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23FFFFFF&backgroundShapeOpacity=1&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 0px;
}


.scared-ghost {}